<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <property name="fileName">$${sys:logs.dir}/run.log</property>
        <property name="filePatt">$${sys:logs.dir}/%d{yyyy/MM}/run-%{yyyy-MM-dd}.log</property>
        <property name="corePatt">%d{yyyy/MM/dd HH:mm:ss} %p %m%n</property>
        <property name="rootPatt">%d{yyyy/MM/dd HH:mm:ss} %p %m - by %c%n</property>
        <property name="morePatt">%d{yyyy/MM/dd HH:mm:ss} %p %m - by %c at %C.%M:%L%n</property>
    </Properties>
    <Appenders>
        <Console name="CoreOut" target="SYSTEM_ERR">
            <PatternLayout pattern="${corePatt}"/>
        </Console>
        <RollingFile name="CoreLog" fileName="${fileName}" filePattern="${filePatt}">
            <PatternLayout pattern="${corePatt}"/>
        </RollingFile>
        <RollingFile name="RootLog" fileName="${fileName}" filePattern="${filePatt}">
            <PatternLayout pattern="${morePatt}"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR" includeLocation="true">
            <AppenderRef ref="RootLog"/>
        </Root>
        <Logger name="hongs.print" level="TRACE" additivity="false">
            <AppenderRef ref="CoreOut"/>
        </Logger>
        <Logger name="hongs.debug" level="DEBUG" additivity="false">
            <AppenderRef ref="CoreLog"/>
        </Logger>
        <Logger name="hongs.error" level="ERROR" additivity="false">
            <AppenderRef ref="CoreLog"/>
        </Logger>
    </Loggers>
</Configuration>