<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Hongs CORE Framework</display-name>
    <context-param>
        <param-name>debug</param-name>
        <param-value>3</param-value>
    </context-param>
    <!-- Init Filter -->
    <filter>
        <filter-name>InitFilter</filter-name>
        <filter-class>app.hongs.action.InitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>*.act</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>*.api</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>/common/auth/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>/common/conf/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>/common/lang/*</url-pattern>
    </filter-mapping>
    <!-- Action Servlet -->
    <servlet>
        <servlet-name>Action</servlet-name>
        <servlet-class>app.hongs.action.Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>*.act</url-pattern>
    </servlet-mapping>
    <!-- Cmdlet Servlet -->
    <servlet>
        <servlet-name>Cmdlet</servlet-name>
        <servlet-class>app.hongs.cmdlet.CmdletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cmdlet</servlet-name>
        <url-pattern>*.api</url-pattern>
    </servlet-mapping>
    <!-- Auth Servlet -->
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>app.hongs.action.AuthAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/common/auth/*</url-pattern>
    </servlet-mapping>
    <!-- Conf Servlet -->
    <servlet>
        <servlet-name>Conf</servlet-name>
        <servlet-class>app.hongs.action.ConfAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conf</servlet-name>
        <url-pattern>/common/conf/*</url-pattern>
    </servlet-mapping>
    <!-- Lang Servlet -->
    <servlet>
        <servlet-name>Lang</servlet-name>
        <servlet-class>app.hongs.action.LangAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lang</servlet-name>
        <url-pattern>/common/lang/*</url-pattern>
    </servlet-mapping>
    <!-- Default Tags -->
    <jsp-config>
        <taglib>
            <taglib-uri>/hs.tags</taglib-uri>
            <taglib-location>/WEB-INF/conf/default.tld</taglib-location>
        </taglib>
    </jsp-config>
    <!-- Other Settings -->
    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
