<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Hongs CORE Framework</display-name>
    <context-param>
        <param-name>debug</param-name>
        <param-value>3</param-value>
    </context-param>
    <!-- Apis Servlet -->
    <servlet>
        <servlet-name>Apis</servlet-name>
        <servlet-class>app.hongs.action.serv.ApisAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apis</servlet-name>
        <url-pattern>*.api</url-pattern>
    </servlet-mapping>
    <!-- Acts Servlet -->
    <servlet>
        <servlet-name>Acts</servlet-name>
        <servlet-class>app.hongs.action.serv.ActsAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acts</servlet-name>
        <url-pattern>*.act</url-pattern>
    </servlet-mapping>
    <!-- Conf Servlet -->
    <servlet>
        <servlet-name>Conf</servlet-name>
        <servlet-class>app.hongs.action.serv.ConfAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conf</servlet-name>
        <url-pattern>/common/conf/*</url-pattern>
    </servlet-mapping>
    <!-- Lang Servlet -->
    <servlet>
        <servlet-name>Lang</servlet-name>
        <servlet-class>app.hongs.action.serv.LangAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lang</servlet-name>
        <url-pattern>/common/lang/*</url-pattern>
    </servlet-mapping>
    <!-- Auth Servlet -->
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>app.hongs.action.serv.AuthAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/common/auth/*</url-pattern>
    </servlet-mapping>
    <!-- Auth Filter -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>app.hongs.serv.AuthFilter</filter-class>
        <init-param>
            <param-name>index-page</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>login-page</param-name>
            <param-value>/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>exclude-urls</param-name>
            <param-value>/hongs/member/sign/create.act;/hongs/member/sign/delete.act</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/hongs/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- Auto Filter -->
    <filter>
        <filter-name>AutoFilter_DB</filter-name>
        <filter-class>app.hongs.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>/hongs/auto/db</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AutoFilter_DX</filter-name>
        <filter-class>app.hongs.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>render</param-name>
            <param-value>/hongs/auto/dl</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>/hongs/auto/db</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AutoFilter_DL</filter-name>
        <filter-class>app.hongs.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>render</param-name>
            <param-value>/hongs/auto/dl</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>/hongs/lucene</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AutoFilter_Resume</filter-name>
        <filter-class>app.hongs.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>render</param-name>
            <param-value>/hongs/resume</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>/hongs/lucene</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AutoFilter_Search</filter-name>
        <filter-class>app.hongs.serv.AutoFilter</filter-class>
        <init-param>
            <param-name>render</param-name>
            <param-value>/hongs/search</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>/hongs/search</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AutoFilter_DB</filter-name>
        <url-pattern>/demo/db/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AutoFilter_DL</filter-name>
        <url-pattern>/demo/dl/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AutoFilter_Resume</filter-name>
        <url-pattern>/resume/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AutoFilter_Search</filter-name>
        <url-pattern>/search/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AutoFilter_DX</filter-name>
        <url-pattern>/food/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AutoFilter_DL</filter-name>
        <url-pattern>/agile/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- Default Tags -->
    <jsp-config>
        <taglib>
            <taglib-uri>/hongs.tag</taglib-uri>
            <taglib-location>/WEB-INF/web.tld</taglib-location>
        </taglib>
    </jsp-config>
    <!-- Other Settings -->
    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
    </welcome-file-list>
    <icon>
        <small-icon>/favicon.ico</small-icon>
        <large-icon>/favicon.ico</large-icon>
    </icon>
</web-app>
